.card {
  position: relative;
  padding: 1.5rem;
  margin-top: 5rem;
  height: 24rem;
  border-radius: 0.75rem;
  border-width: 2px;
  border-color: #e5e7eb;
}

.card-avatar-box {
  display: flex;
  position: absolute;
  left: 1.5rem;
  top: -3.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 5rem;
}

.card-avatar-title-box {
  display: flex;
  margin-left: 1rem;
  flex-direction: column;
}

.card-avatar-title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 6rem;
}

.card-avatar-role {
  color: #9ca3af;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 6rem;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}

.product-image {
  width: 6rem;
  height: 6rem;
}

.rate-box {
  display: flex;
  margin-top: 0.75rem;
  justify-content: flex-start;
  align-items: center;
}

.rate-count {
  margin-right: 0.5rem;
  font-weight: 700;
}

.rate-rates {
  margin-left: 0.5rem;
}

.description-box {
  width: 100%;
}

.product-name {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-description {
  margin-top: 0.5rem;
}

.product-color {
  color: #9ca3af;
  font-weight: 600;
}

.bottom-avatar-card {
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 3rem;
  flex: none;
  border-radius: 0.75rem;
  border-width: 2px;
  border-color: #e5e7eb;
  width: 480px;
}
.bottom-avatar-product-box {
  display: flex;
  padding-bottom: 1rem;
  width: 100%;
  border-bottom-width: 2px;
  border-color: #e5e7eb;
}
.bottom-avatar-product-img {
  width: 6rem;
  height: 6rem;
}
.bottom-avatar-description-box {
  display: flex;
  margin-top: 0.25rem;
  flex-direction: column;
}
.bottom-avatar-product-name {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18rem;
}
.bottom-avatar-product-title {
  font-weight: 600;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 18rem;
}
.bottom-avatar-rate-box {
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
  align-items: center;
}
.bottom-avatar-rate-star {
  display: flex;
  margin-left: 0.5rem;
  align-items: center;
}
.bottom-avatar-rates {
  color: #9ca3af;
}
.bottom-avatar-button {
  color: #ef4444;
}
.bottom-avatar-button:hover {
  color: #f87171;
}
.bottom-avatar-avatar-box {
  display: flex;
  position: absolute;
  left: 25%;
  margin-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bottom-avatar-avatar-name {
  font-weight: 600;
}

.no-border-card {
  position: relative;
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  height: 450px;
  width: 15rem;
}
.no-border-product-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
}
.no-border-product-image {
  width: 6rem;
  height: 6rem;
}
.no-border-skin-type {
  margin-top: 1rem;
  color: #ef4444;
  font-weight: 700;
}
.no-border-rate-box {
  display: flex;
  margin-top: 0.75rem;
  justify-content: flex-start;
  align-items: center;
}
.no-border-rate {
  margin-right: 0.5rem;
  font-weight: 700;
}
.no-border-rates {
  margin-left: 0.5rem;
}
.no-border-description-box {
  width: 100%;
}
.no-border-product-name {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.no-border-description {
  margin-top: 0.5rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.no-border-description-color {
  color: #9ca3af;
  font-weight: 600;
}

.extra-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin-top: 1rem;
}
.extra-2 {
  margin-top: 1rem;
}
